<h1 class="text-xl text-bold mb-4">True to Form: A Guide to Reactive Forms</h1>

<form [formGroup]="form">
  <div class="m-5">
    <input
      class="border-1 rounded border"
      formControlName="firstName"
      placeholder="First Name"
      type="text"
    />
    <p *ngIf="firstNameErrors" class="text-red-500">This field is required!</p>
  </div>
  <div class="m-5">
    <input
      class="border-1 rounded border"
      formControlName="lastName"
      placeholder="Last Name"
      type="text"
    />
  </div>
  <div class="m-5">
    <input
      class="border-1 rounded border"
      formControlName="email"
      placeholder="Email"
      type="text"
    />
  </div>
  <div class="m-5">
    <button
      (click)="submit()"
      [disabled]="form.invalid"
      class="bg-green-500 rounded p-4 text-white disabled:opacity-50"
    >
      Submit
    </button>
  </div>
</form>

<pre><code>
{{ formUpdates$ | async | json }}
</code></pre>
